<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 data-card">
      <div class="container ">
        <div class="row content-data">

          <div class="row" style="padding: 0.5rem;">
            <h3>Crédits</h3>
          </div>

          <div class="row value">
            <h1>10 000 FCFA</h1>
          </div>
        </div>
        <div class="row clc-app" align="center">
            <button class="btn btn-primary btn-block">ESATIC-RST</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 data-card">
      <div class="container ">
        <div class="row content-data">

          <div class="row" style="padding: 0.5rem;">
            <h3>Sorties</h3>
          </div>

          <div class="row value">
            <h1>10 </h1>
          </div>
        </div>
        <div class="row clc-app" align="center">
          <button class="btn btn-warning btn-block">ESATIC-HBG</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 data-card">
      <div class="container ">
        <div class="row content-data">

          <div class="row" style="padding: 0.5rem;">
            <h3>Status</h3>
          </div>

          <div class="row value">
            <h1>Favorable</h1>
          </div>

        </div>
        <div class="row clc-app" align="center">
          <button class="btn btn-secondary btn-block">ESATIC-MDC</button>
        </div>
      </div>
    </div>
  </div>
</div>
