<div class="container-fluid">
  <div class="row" *ngIf="Compte" >
    <div class="col-md-4 data-card">
      <div class="container ">
        <div class="row content-data">

          <div class="row" style="padding: 0.5rem;">
            <h3>Crédits</h3>
          </div>

          <div class="row value" *ngIf="Compte">
            <h1>{{ Compte.somme }} FCFA</h1>
          </div>
          <div class="row value" *ngIf="!Compte">
            <h1>0 FCFA</h1>
          </div>
        </div>
        <div class="row clc-app" align="center">
            <button class="btn btn-primary btn-block">ESATIC-RST</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 data-card">
      <div class="container ">
        <div class="row content-data">

          <div class="row" style="padding: 0.5rem;">
            <h3>Sorties</h3>
          </div>

          <div class="row value">
            <h1>{{ Out }}</h1>
          </div>
        </div>
        <div class="row clc-app" align="center">
          <button class="btn btn-warning btn-block">ESATIC-HBG</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 data-card">
      <div class="container ">
        <div class="row content-data">

          <div class="row" style="padding: 0.5rem;">
            <h3>Status</h3>
          </div>

          <div class="row value" *ngIf="Status" >
            <h1>{{ Status }}</h1>
          </div>

        </div>
        <div class="row clc-app" align="center">
          <button class="btn btn-secondary btn-block">ESATIC-MDC</button>
        </div>
      </div>
    </div>
  </div>
</div>
