<div class="row onglet">

  <div class="col-md-12">
    <h5>ESATIC-HBG <i class="d-i material-icons">chevron_right</i></h5>
    <ul style="list-style: none;">
      <li>- Créer Demandes </li>
      <li>- Demandes en cours </li>
      <li>- Historiques</li>
    </ul>
  </div>
</div>

<div class="row onglet">

  <div class="col-md-12">
    <h5>ESATIC-RST <i class="d-i material-icons">chevron_right</i></h5>
    <ul style="list-style: none;">
      <li>- Demander Recharge </li>
      <li>- Consuler Crédit </li>
      <li>- Historiques</li>
    </ul>
  </div>
</div>

<div class="row onglet">

  <div class="col-md-12">
    <h5>ESATIC-MDC <i class="d-i material-icons">chevron_right</i></h5>
    <ul style="list-style: none;">
      <li>- Créer Demandes </li>
      <li>- Demandes en cours </li>
      <li>- Historiques</li>
    </ul>
  </div>
</div>
