<div class="row onglet">

  <div class="col-md-12">
    <h5>ESATIC-HBG <i class="d-i material-icons">chevron_right</i></h5>
    <ul style="list-style: none;">
      <li>- <a routerLink='/req-exit' style="color: white;">Créer Demandes</a> </li>
      <li>- <a routerLink='/list-exit-request' style="color: white;">Historiques</a></li>
    </ul>
  </div>
</div>

<div class="row onglet">

  <div class="col-md-12">
    <h5>ESATIC-RST <i class="d-i material-icons">chevron_right</i></h5>
    <ul style="list-style: none;">
      <li>- <a routerLink='/req-credit' style="color: white;">Demander Recharge </a></li>
      <li>- <a routerLink="/list-credit" style="color: white;">Historiques</a></li>
    </ul>
  </div>
</div>

<div class="row onglet">

  <div class="col-md-12">
    <h5>ESATIC-MDC <i class="d-i material-icons">chevron_right</i></h5>
    <ul style="list-style: none;">
      <li>- <a routerLink="/req-med" style="color: white;">Créer Demandes médicales</a> </li>
      <li>- <a routerLink="/list-med" style="color: white;">Historiques</a></li>
    </ul>
  </div>
</div>
