<app-navbar-dashboard></app-navbar-dashboard>

<div class="container-fluid full-body">
  <div class="row">

    <div class="col-md-3 bg-primary sidebar">

      <app-sidenav-admin-med></app-sidenav-admin-med>

    </div>

    <div class="col-md-9">
        <h1 style="text-align: center;" class="mt-4">CONSULTATION</h1>
        <div class="container">
          <small style="margin-left: 9rem;">Recherche Etudiant</small>
          <div class="form-group" align="center">
            <input type="text" name="" id="" class="form-control" style="width: 70%;">
          </div>

          <div class="row">
            <div class="col-md-12 search-box bord">

            </div>
          </div>
        </div>

    </div>

  </div>
</div>
