<app-navbar-dashboard></app-navbar-dashboard>

<div class="container-fluid full-body">
  <div class="row">

    <div class="col-md-3 bg-primary sidebar">

      <app-sidenav-admin-med></app-sidenav-admin-med>

    </div>

    <div class="col-md-9">
        <h1 style="text-align: center;" class="mt-4">CONSULTATION</h1>
        <div class="container">
          <small style="margin-left: 9rem;">Recherche Etudiant</small>
          <div class="form-group" align="center">
            <input type="text" name="mat" [(ngModel)]="mat" id="" class="form-control" style="width: 70%;">
            <button class="btn btn-primary mt-2" (click)="Search()"  style="width: 10%;">Recherche</button>
          </div>

          <div class="row search-box" *ngFor="let result of results" >
            <mat-progress-bar *ngIf="success==false"  mode="indeterminate"></mat-progress-bar>

            <div class="container box-info ">
              <div class="row">
                <div class="col-md-4">
                  <img src="http://localhost:3000/uploads/{{ result.avatar }}" width="100%" height="50%" alt="">
                </div>
                <div class="col-md-8">
                  <h2>{{ result.first_name + ' ' + result.last_name }}</h2>
                  <p><b>Filière : </b> {{ result.filliere }}</p>
                  <p>
                    <b>Adresse Email : </b>
                    {{ result.email }}
                    &nbsp;&nbsp;&nbsp;
                    <b>Numéro de téléphone : </b>
                    {{ result.num }}
                  </p>

                  <p>
                    <button class="btn btn-info" data-toggle="modal" data-target="#exampleModalmED" (click)="Choose(result._id)">Choisir</button>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>

    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalmED" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Consultation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="alert alert-success" *ngIf="c_s" >
          Consultation validée !
        </div>
        <form class="pt-4">

          <div class="form-row pt-3">
            <div class="col">
              <input type="number" name="weight" [(ngModel)]="consultation.weight" class="form-control" placeholder="Votre poids">
            </div>
            <div class="col">
              <input type="number" name="height" [(ngModel)]="consultation.height" class="form-control" placeholder="Votre taille">
            </div>
          </div>

          <div class="form-row pt-3">
            <div class="col">
              <label for="" class="text-muted">Sélectionnez le status sanitaire</label>
              <select class="form-control" name="status" [(ngModel)]="consultation.status" id="exampleFormControlSelect1">
                <option>Favorable</option>
                <option>Moyen</option>
                <option>Défavorable</option>
                <option>Critique</option>
              </select>
            </div>
          </div>


          <div class="form-row pt-3">
            <div class="col">
              <div class="form-group">
                <label for="exampleFormControlTextarea1" class="text-muted">Description du mal (ou des maux) / prescription</label>
                <textarea class="form-control" name="description" [(ngModel)]="consultation.description" id="exampleFormControlTextarea1" rows="4"></textarea>
              </div>

            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary btn-block" (click)="SetConsultation()">VALIDER</button>
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>
