<app-navbar-dashboard></app-navbar-dashboard>

<div class="container-fluid full-body">
  <div class="row">

    <div class="col-md-3 bg-primary sidebar">

      <app-sidenav-admin-general></app-sidenav-admin-general>

    </div>


    <div class="col-md-9">
      <br>
      <h3>LISTE DES PAIEMENTS</h3>
        <br>
        <br>
        <table datatable class="row-border hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nom </th>
                <th>Prenom</th>
                <th>Date de Paiement</th>
                <th>Montant</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>6abc7895bcv2020</td>
                 <td>Mohamed</td>
                 <td>Zidane</td>
                 <td>15-01-2020 15:30</td>
                 <td>10 000</td>

              </tr>

              <tr>
                <td>6abc7895bcv2020</td>
                <td>Mohamed</td>
                <td>Zidane</td>
                <td>15-01-2020 15:30</td>
                <td>10 000</td>
             </tr>

            </tbody>
          </table>
          <br>

    </div>
