
      <br>
      <h1 style="text-align: left;" class="mt-3">LISTE DES PAIEMENTS</h1>
        <br>
        <br>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" >
            <thead>
              <tr>
                <th>ID</th>
                <th>Nom </th>
                <th>Prenom</th>
                <th>Date de Paiement</th>
                <th>Montant</th>
              </tr>
            </thead>
            <tbody *ngFor="let credit of Credit" >
              <tr>
                <td>{{ credit.credit._id }}</td>
                 <td>{{ credit.user.first_name }}</td>
                 <td>{{ credit.user.last_name }}</td>
                 <td>{{ credit.credit.created_at }}</td>
                 <td>{{ credit.credit.somme | number }} Fcfa</td>

              </tr>

            </tbody>
          </table>
          <br>

