<app-navbar-dashboard></app-navbar-dashboard>

<div class="container-fluid full-body">
  <div class="row">

    <div class="col-md-3 bg-primary sidebar">

      <app-sidenav-admin-general></app-sidenav-admin-general>

    </div>


    <div class="col-md-9">
      <br>
      <h3>LISTE DES PAIEMENTS</h3>
        <br>
        <br>
        <table datatable class="row-border hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nom </th>
                <th>Prenom</th>
                <th>Date de Paiement</th>
                <th>Montant</th>
              </tr>
            </thead>
            <tbody *ngFor="let credit of real_data" >
              <tr>
                <td>{{ credit._id }}</td>
                 <td>{{ credit.user.first_name }}</td>
                 <td>{{ credit.user.last_name }}</td>
                 <td>{{ credit.created_at }}</td>
                 <td>{{ credit.somme }}</td>

              </tr>

            </tbody>
          </table>
          <br>

    </div>
