<app-navbar-dashboard></app-navbar-dashboard>

<div class="container-fluid full-body">
  <div class="row">

    <div class="col-md-3 bg-primary sidebar">

      <app-sidenav-admin-med></app-sidenav-admin-med>

    </div>

    <div class="col-md-9">

      <div class="container">
        <h2 class="pt-4" style="text-align: center;">Demandes de traitement non validées</h2>
        <br>
        <table datatable class="row-border hover">
          <thead>
            <tr>
              <th>Matricule</th>
              <th>Nom & Prénoms</th>
              <th>Classe</th>
              <th>Date</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>18400006AB</td>
              <td><b>Mohamed Zidane</b></td>
              <td><b>TWIN 3</b></td>
              <td>09/01/2020</td>
              <td>
                <button class="btn btn-warning">Voir Plus</button>
              </td>
              <td>
                <button class="btn btn-info">Traiter</button>
              </td>
            </tr>
            <tr>
              <td>18400006AB</td>
              <td><b>Mohamed Zidane</b></td>
              <td><b>TWIN 3</b></td>
              <td>09/01/2020</td>
              <td>
                <button class="btn btn-warning">Voir Plus</button>
              </td>
              <td>
                <button class="btn btn-info">Traiter</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>
