<div class="row onglet">

  <div class="col-md-12">
    <h5>ESATIC-HBG <i class="d-i material-icons">chevron_right</i></h5>
    <ul style="list-style: none;">
      <li>- <a routerLink='/list-request-nc-admin' style="color: white;">Demandes Non Confirmées</a> </li>
      <li>- <a routerLink='/list-request-c-admin' style="color: white;">Demandes Confirmées</a> </li>
      <li>- <a routerLink='/list-exit-request' style="color: white;">Statistiques</a></li>
    </ul>
  </div>
</div>

<div class="row onglet">

  <div class="col-md-12">
    <h5>ESATIC-RST <i class="d-i material-icons">chevron_right</i></h5>
    <ul style="list-style: none;">
      <li>- <a routerLink='/list-credit-admin' style="color: white;">Recharges Effectuées</a></li>
      <li>- <a routerLink="/list-credit" style="color: white;">Statistiques Repas</a></li>
      <li>- <a routerLink="/stat-credit-admin" style="color: white;">Statistiques Recharge</a></li>
    </ul>
  </div>
</div>

<div class="row onglet">

  <div class="col-md-12">
    <h5>ESATIC-MDC <i class="d-i material-icons">chevron_right</i></h5>
    <ul style="list-style: none;">
      <li>- <a routerLink="/req-med" style="color: white;">Livres des consultations physiques</a> </li>
      <li>- <a routerLink="/req-med" style="color: white;">Livres des consultations en ligne</a> </li>
      <li>- <a routerLink="/list-med" style="color: white;">Statistiques</a></li>
    </ul>
  </div>
</div>

<div class="row onglet">

  <div class="col-md-12">
    <h5>PLUS <i class="d-i material-icons">chevron_right</i></h5>
    <ul style="list-style: none;">
      <li>- <a routerLink="/req-med" style="color: white;">Notifications Push</a> </li>
    </ul>
  </div>
</div>
