<!--<div class="row onglet">

  <div class="col-md-12">
    <h5>TRAITEMENTS <i class="d-i material-icons">chevron_right</i></h5>
    <ul style="list-style: none;">
      <li>- <a routerLink='/req-exit' style="color: white;">Non traitées</a> </li>
      <li>- <a routerLink='/list-exit-request' style="color: white;">Traitées</a></li>
    </ul>
  </div>
</div>-->

<div class="row onglet">

  <div class="col-md-12">
    <h5>CONSULTATIONS <i class="d-i material-icons">chevron_right</i></h5>
    <ul style="list-style: none;">
      <li>- <a routerLink='/consult-form' style="color: white;">Faire une consultation </a></li>
      <li>- <a routerLink="/consult-list" style="color: white;">Historiques</a></li>
    </ul>
  </div>
</div>

<!--<div class="row onglet">

  <div class="col-md-12">
    <h5>NOTIFICATIONS <i class="d-i material-icons">chevron_right</i></h5>
    <ul style="list-style: none;">
      <li>- <a routerLink="/req-med" style="color: white;">Emettre une notification</a> </li>
      <li>- <a routerLink="/list-med" style="color: white;">Historiques</a></li>
    </ul>
  </div>
</div>-->
