<app-navbar-dashboard></app-navbar-dashboard>

<div class="container-fluid full-body">
  <div class="row">

    <div class="col-md-3 bg-primary sidebar">

      <app-sidebar-dashboard></app-sidebar-dashboard>

    </div>


    <div class="col-md-9">
        <h3>LISTE DES MALADES</h3>
        <br>
        <br>
        <br>
        <table datatable class="row-border hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nom </th>
                <th>Prenom</th> 
                <th>Date de consultation</th>
                <th>Heure de consultation</th>
                <th>Maladie</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                 <td>Mohamed</td>
                 <td>Zidane</td>
                 <td>15-01-2020</td>
                 <td>15h30</td>
                 <td>Fatigue</td>
                 
              </tr>

              
              
            </tbody>
          </table>
          <br>

    </div>
