<app-navbar-dashboard></app-navbar-dashboard>

<div class="container-fluid full-body">
  <div class="row">

    <div class="col-md-3 bg-primary sidebar">

      <app-sidebar-dashboard></app-sidebar-dashboard>

    </div>

    <div class="col-md-9">

      <h2 class="pt-4">Demandes de traitement médical</h2>
        <div class="container pt-2">
          <div class="card continious">
            <div class="card-body">
              <h5 class="card-title">Demande n°@335 du <b>2020-02-18</b> &nbsp;&nbsp; <span class="badge badge-warning text-light">En cours</span></h5>
              <p class="card-text">
                Je me sens bizarre avec des maux de ventre, de tête et partout sur mon corps
              </p>
              <hr>
              <a href="#" class="card-link btn btn-muted">Voir détails</a>
            </div>
          </div>
        </div>

        <br>

        <hr>

        <br>

        <div class="container pt-2 history">
          <div class="card ">
            <div class="card-body">
              <h5 class="card-title">Demande n°@335 du <b>2020-02-18</b> &nbsp;&nbsp; <span class="badge badge-success text-light">Validé</span></h5>
              <p class="card-text">
                Je me sens bizarre avec des maux de ventre, de tête et partout sur mon corps
              </p>
              <hr>
              <a href="#" class="card-link btn btn-muted">Voir détails</a>
              <a href="#" class="card-link btn btn-primary">Voir prescription</a>

            </div>
          </div>

          <br>

          <div class="card ">
            <div class="card-body">
              <h5 class="card-title">Demande n°@335 du <b>2020-02-18</b> &nbsp;&nbsp;<span class="badge badge-success text-light">Validé</span></h5>
              <p class="card-text">
                Je me sens bizarre avec des maux de ventre, de tête et partout sur mon corps
              </p>
              <hr>
              <a href="#" class="card-link btn btn-muted">Voir détails</a>
              <a href="#" class="card-link btn btn-primary">Voir prescription</a>

            </div>
          </div>

          <br>

          <div class="card ">
            <div class="card-body">
              <h5 class="card-title">Demande n°@335 du <b>2020-02-18</b> &nbsp;&nbsp;<span class="badge badge-success text-light">Validé</span></h5>
              <p class="card-text">
                Je me sens bizarre avec des maux de ventre, de tête et partout sur mon corps
              </p>
              <hr>
              <a href="#" class="card-link btn btn-muted">Voir détails</a>
              <a href="#" class="card-link btn btn-primary">Voir prescription</a>

            </div>
          </div>

          <br>

          <div class="card ">
            <div class="card-body">
              <h5 class="card-title">Demande n°@335 du <b>2020-02-18</b> &nbsp;&nbsp;<span class="badge badge-success text-light">Validé</span></h5>
              <p class="card-text">
                Je me sens bizarre avec des maux de ventre, de tête et partout sur mon corps
              </p>
              <hr>
              <a href="#" class="card-link btn btn-muted">Voir détails</a>
              <a href="#" class="card-link btn btn-primary">Voir prescription</a>

            </div>
          </div>

          <br>

          <div class="card ">
            <div class="card-body">
              <h5 class="card-title">Demande n°@335 du <b>2020-02-18</b> &nbsp;&nbsp;<span class="badge badge-success text-light">Validé</span></h5>
              <p class="card-text">
                Je me sens bizarre avec des maux de ventre, de tête et partout sur mon corps
              </p>
              <hr>
              <a href="#" class="card-link btn btn-muted">Voir détails</a>
              <a href="#" class="card-link btn btn-primary">Voir prescription</a>

            </div>
          </div>
          <br>
        </div>

    </div>

  </div>
</div>
