nav {
  padding: 1rem;
  background-color: rgb(255, 251, 251);
}

.nv-2 {
  /*border: solid;*/

}

.logo-profile {
  border: solid 1px;
  border-radius: 100%;
}

.logo-profile img {
  border-radius: 100%;
}


.ext-mgs {
  /*white-space: nowrap;
  text-overflow: ellipsis;*/
  width: 5%;

}


@media screen and (min-width: 700px) {
  .nv-2 {
    position: relative;
    left: 55%;
  }

  .nv-2 li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
