<mat-progress-bar *ngIf="success==false"  mode="indeterminate"></mat-progress-bar>

<app-navbar-dashboard></app-navbar-dashboard>

<div class="container-fluid full-body">
  <div class="row">

    <div class="col-md-3 bg-primary sidebar">

      <app-sidebar-dashboard></app-sidebar-dashboard>

    </div>

    <div class="col-md-9">

      <div class="container">
        <br>
        <div class="alert alert-success" *ngIf="success_alert" >
          Votre rechargement a été effectuer avec succès !
        </div>
        <div class="alert alert-danger" *ngIf="danger_alert" >
          Une erreur s'est produite. Veuillez réessayer plus tard !
        </div>
        <h2 style="text-align:center;" class="pt-4">Demande de crédit restaurant</h2>
        <br><br>
        <small class="text-secondary">Sélectionnez un moyen de paiement : </small>
        <br><br>
        <div class="row">
          <div class="col-md-4" align="center">
            <img src="../../assets/orange.png" (click)="ChoiceOrange()" width="100%" height="150" alt="">
            <i class="material-icons text-success choice" *ngIf="orange" >beenhere</i>
          </div>
          <div class="col-md-4" align="center">
            <img src="../../assets/mtn.jpg" (click)="ChoiceMtn()" width="100%" height="150" alt="">
            <i class="material-icons text-success choice" *ngIf="mtn" >beenhere</i>

          </div>
          <div class="col-md-4" align="center">
            <img src="../../assets/moov.jpg" (click)="ChoiceMoov()" width="100%" height="150" alt="">
            <i class="material-icons text-success choice" *ngIf="moov" >beenhere</i>

          </div>
        </div>

        <br><br>

        <div class="row" *ngIf="orange || mtn || moov" >
          <form class="col-12 pt-4">
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" name="num" [(ngModel)]="form_data.num" placeholder="Numéro de téléphone">
              </div>
              <div class="col">
                <input type="number" class="form-control" name="somme" [(ngModel)]="form_data.somme" placeholder="Somme (en FCFA)">
              </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-block" (click)="ValidationForm()">VALIDER</button>
            <br>
          </form>
        </div>

        <div class="row" *ngIf="paypal" >
          <form class="col-12 pt-4">
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" name="num" [(ngModel)]="form_data.num" placeholder="Nom paypal">
              </div>
              <div class="col">
                <input type="number" class="form-control" name="somme" [(ngModel)]="form_data.somme" placeholder="Somme (en FCFA)">
              </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-block" (click)="ValidationForm()">VALIDER</button>
            <br>
          </form>
        </div>

      </div>

    </div>

  </div>
</div>
