

        <div class="container list-scroll">
          <h1 class="pt-4" style="font-size: xx-large;">Historique des recharges</h1>
          <br>
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" >
            <thead>
              <tr>
                <th>ID</th>
                <th>Numéro</th>
                <th>Somme</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody *ngFor="let recharge of rechargement" >
              <tr>
                <td>{{ recharge._id }}</td>
                <td><b>{{ recharge.num }}</b></td>
                <td><b>{{ recharge.somme | number}}</b> FCFA</td>
                <td>{{ recharge.created_at }}</td>
              </tr>
            </tbody>
          </table>
        </div>



