<app-navbar-dashboard></app-navbar-dashboard>

<div class="container-fluid full-body">
  <div class="row">

    <div class="col-md-3 bg-primary sidebar">

      <app-sidebar-dashboard></app-sidebar-dashboard>

    </div>

    <div class="col-md-9">

        <div class="container">
          <h2 class="pt-4" style="text-align: center;">Historique des recharges</h2>
          <br>
          <table datatable class="row-border hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Numéro</th>
                <th>Somme</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody *ngFor="let recharge of rechargement" >
              <tr>
                <td>{{ recharge._id }}</td>
                <td><b>{{ recharge.num }}</b></td>
                <td><b>{{ recharge.somme | number}}</b> FCFA</td>
                <td>{{ recharge.created_at }}</td>
              </tr>
            </tbody>
          </table>
        </div>

    </div>

  </div>
</div>
