<app-navbar-dashboard></app-navbar-dashboard>

<div class="container-fluid full-body">
  <div class="row">

    <div class="col-md-3 bg-primary sidebar">

      <app-sidebar-dashboard></app-sidebar-dashboard>

    </div>

    <div class="col-md-9">

        <div class="container">
          <h2 class="pt-4" style="text-align: center;">Historique des recharges</h2>
          <br>
          <table datatable class="row-border hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Numéro</th>
                <th>Somme</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><b>79261619</b></td>
                <td><b>15 000</b> FCFA</td>
                <td>09/01/2020</td>
              </tr>
              <tr>
                <td>2</td>
                <td><b>79261619</b></td>
                <td><b>15 000</b> FCFA</td>
                <td>09/01/2020</td>
              </tr>
            </tbody>
          </table>
        </div>

    </div>

  </div>
</div>
