<div class="container-fluid full-body">
  <!-- nav bar component -->
  <app-navbar></app-navbar>

    <div class="row">

        <div class="col-md-8">
            <div class="text-home">
              <h1 class="text-primary">ESATIC-APP</h1>
              <h4 class="text-dark">L'université à la pointe de la technologie</h4>
              <p class="text-muted">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo omnis in ullam aliquam quae aspernatur itaque blanditiis beatae necessitatibus, ex hic ipsam laboriosam laborum non voluptas aut obcaecati consequatur facilis!
              </p>
              <button class="btn btn-primary round">COMMENCER</button>
              <button class="btn btn-light">SIGNALER UN PROBLEME</button>
            </div>
        </div>

        <!-- form login-->
        <div class="col-md-4">
          <div class="form-home bg-primary">
            <form>
              <div class="form-group">
                <label class="text-light" for="exampleInputEmail1">Adresse Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre email">

              </div>
              <div class="form-group">
                <label class="text-light" for="exampleInputPassword1">Mot de passe</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Entrez votre mot de passe">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label text-light" for="exampleCheck1">Se rappeler de moi</label>
              </div>
              <button type="submit" routerLink="/dashboard" class="btn btn-light">Valider</button>
            </form>
          </div>
        </div>

    </div>

</div>


